In [46]:
import pandas as pd
from basketball_reference_web_scraper import client
import time
from datetime import datetime, timedelta

In [26]:

all_data_2023 = pd.DataFrame()

start_date = datetime(2023,10,24)
end_date = datetime.now()

currrent_date = start_date
while currrent_date <= end_date:
    try:
        df = pd.DataFrame(client.player_box_scores(day=currrent_date.day, month=currrent_date.month,year=currrent_date.year))
        all_data_2023 = pd.concat([all_data_2023,df], ignore_index=True)
    except Exception as e:
        print(f"Error fetching data for {currrent_date}: {e}")
        
    currrent_date += timedelta(days=1)
    time.sleep(10)

In [27]:
all_data_2023.shape

(21876, 21)

In [28]:
all_data_2023.head()

,slug,name,team,location,opponent,outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,made_free_throws,attempted_free_throws,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score
0,jokicni01,Nikola Jokić,Team.DENVER_NUGGETS,Location.HOME,Team.LOS_ANGELES_LAKERS,Outcome.WIN,2176,12,22,3,...,2,4,3,10,11,1,1,2,2,29.3
1,bookede01,Devin Booker,Team.PHOENIX_SUNS,Location.AWAY,Team.GOLDEN_STATE_WARRIORS,Outcome.WIN,2218,13,21,3,...,3,3,1,5,8,1,0,6,4,23.7
2,jamesle01,LeBron James,Team.LOS_ANGELES_LAKERS,Location.AWAY,Team.DENVER_NUGGETS,Outcome.LOSS,1740,10,16,1,...,0,1,1,7,5,1,0,0,1,20.3
3,gordoaa01,Aaron Gordon,Team.DENVER_NUGGETS,Location.HOME,Team.LOS_ANGELES_LAKERS,Outcome.WIN,2099,7,11,1,...,0,0,2,5,5,2,1,0,0,19.2
4,murraja01,Jamal Murray,Team.DENVER_NUGGETS,Location.HOME,Team.LOS_ANGELES_LAKERS,Outcome.WIN,2055,8,13,3,...,2,2,0,2,6,0,1,1,3,18.4

In [29]:
all_data_2023.columns

Index(['slug', 'name', 'team', 'location', 'opponent', 'outcome',
       'seconds_played', 'made_field_goals', 'attempted_field_goals',
       'made_three_point_field_goals', 'attempted_three_point_field_goals',
       'made_free_throws', 'attempted_free_throws', 'offensive_rebounds',
       'defensive_rebounds', 'assists', 'steals', 'blocks', 'turnovers',
       'personal_fouls', 'game_score'],
      dtype='object')

In [32]:
jamal = all_data_2023.loc[all_data_2023['name'] == 'Jamal Murray'].reset_index(drop=True)